Repository modelica/efmi-standard.org, changes with the owners that CODEOWNERS names for each.
All owners: @christoff-buerger, @t-sommer, @Modelica/MAP-eFMI-webpage-buildbot, @Modelica/MAP-eFMI

CODEOWNERS:

*													@christoff-buerger
.gitattributes										@christoff-buerger @t-sommer
.gitignore											@christoff-buerger @t-sommer
.gitmodules											@christoff-buerger @t-sommer
CODEOWNERS											@christoff-buerger
config.yaml											@christoff-buerger @t-sommer
CONTRIBUTING.md										@christoff-buerger
LICENSE												@christoff-buerger
README.md											@christoff-buerger
SECURITY.md											@christoff-buerger
.github/											@Modelica/MAP-eFMI-webpage-buildbot @christoff-buerger @t-sommer
content/											@Modelica/MAP-eFMI
resources/											@Modelica/MAP-eFMI
static/												@Modelica/MAP-eFMI
themes/												@christoff-buerger @t-sommer
public/												@Modelica/MAP-eFMI-webpage-buildbot

Fixed link in image.
  static/media/resources/M04-example-eFMU-content.png
  static/media/resources/M04-example.pptx
Owners: @Modelica/MAP-eFMI

Switch: most recent first.
  content/resources.md
Owners: @Modelica/MAP-eFMI

Added news about eFMI article in Modelica Association Newsletter.
  content/news/2023-07-10.md
Owners: @Modelica/MAP-eFMI

Updated tools figure.
  static/media/tools/eFMI-tools.pptx
Owners: @Modelica/MAP-eFMI

Added news about tutorial and forum at upcoming Modelica Conference.
  content/news/2023-09-11.md
Owners: @Modelica/MAP-eFMI

Fixed mail address.
  content/news/2023-09-11.md
Owners: @Modelica/MAP-eFMI

Added news about tutorial and forum at upcoming Modelica Conference.
  content/news/2023-09-11.md
  static/media/news/2023-09-11.png
  static/media/news/2023-09-11.pptx
Owners: @Modelica/MAP-eFMI

Added news article about trademark registration.
  content/about.md
  content/news/2023-08-05.md
  static/media/news/2023-09-11.pptx
  static/media/resources/M04-example.pptx
Owners: @Modelica/MAP-eFMI

Added ® trademark to footer and title page.
  config.yaml
  content/_index.html
Owners: @christoff-buerger, @t-sommer, @Modelica/MAP-eFMI

Align main slogan with master slides.
  content/_index.html
Owners: @Modelica/MAP-eFMI

Added eFMI Tutorial.
  content/_index.html
  content/news/2023-09-11.md
  content/publications.md
  content/resources.md
  static/media/resources/eFMI-Tutorial-Agenda.pdf
  static/media/resources/eFMI-Tutorial-Part-2.pdf
  static/media/resources/eFMI-Tutorial-Part-4.pdf
  static/media/resources/eFMI-Tutorial-Part-5.pdf
Owners: @Modelica/MAP-eFMI

Added eFMI Tutorial.
  content/_index.html
Owners: @Modelica/MAP-eFMI

Added FMI User Meeting presentation at 15th International Modelica Conference.
  content/_index.html
  content/publications.md
  content/resources.md
  static/media/resources/eFMI-scope-and-delimitation.pdf
Owners: @Modelica/MAP-eFMI

Added links to YouTube recordings of tutorial to news.
  content/news/2023-09-11.md
Owners: @Modelica/MAP-eFMI

Added links to YouTube recordings of tutorial to news.
  content/news/2023-09-11.md
Owners: @Modelica/MAP-eFMI

Added links to YouTube recordings of tutorial to news.
  content/news/2023-09-11.md
Owners: @Modelica/MAP-eFMI

Fix title; add drop down item separators.
  config.yaml
  content/_index.html
  content/news/2023-09-11.md
Owners: @christoff-buerger, @t-sommer, @Modelica/MAP-eFMI

Updated name of former CATIA ESP to Software Production Engineering.
  content/_index.html
  content/about.md
  content/introduction.md
  content/publications.md
  content/resources.md
  content/tools.md
  static/media/introduction/eFMI-workflow.png
  static/media/resources/eFMI-Tutorial-Agenda.pdf
  static/media/resources/eFMI-Tutorial-Part-2.pdf
  static/media/resources/eFMI-Tutorial-Part-4.pdf
  static/media/resources/eFMI-Tutorial-Part-5.pdf
  static/media/resources/eFMI-scope-and-delimitation.pdf
  static/media/tools/Software-Production-Engineering.png
  static/media/tools/eFMI-tools.png
  static/media/tools/eFMI-tools.pptx
Owners: @Modelica/MAP-eFMI

Updated name of former CATIA ESP to Software Production Engineering: added proper links.
  content/about.md
  content/introduction.md
  content/publications.md
  content/resources.md
  content/tools.md
Owners: @Modelica/MAP-eFMI

Added ITEA and Elektronik articles.
  content/publications.md
  static/media/publications/Elektronik-magazine-Embedded-World-2022-special-issue.pdf
  static/media/publications/ITEA-Magazine-Issue-41-by-and-for-end-users.pdf
Owners: @Modelica/MAP-eFMI

Added ITEA and Elektronik articles.
  content/publications.md
  static/media/publications/Elektronik-magazine-Embedded-World-2022-special-issue.pdf
Owners: @Modelica/MAP-eFMI

Added news about ITEA Success story about EMPHYSIS and eFMI.
  content/news/2022-03-10.md
  content/news/2024-03-01.md
  content/publications.md
  static/media/publications/ITEA-Magazine-Issue-47-Success-story.pdf
Owners: @Modelica/MAP-eFMI

Added news about ITEA Success story about EMPHYSIS and eFMI.
  content/news/2022-03-10.md
  content/news/2024-03-01.md
Owners: @Modelica/MAP-eFMI

Fixed release dates.
  content/tools.md
Owners: @Modelica/MAP-eFMI

Fixed company name.
  content/about.md
Owners: @Modelica/MAP-eFMI

Remove Autosar Builder from the list of prototypes
  content/tools.md
Owners: @Modelica/MAP-eFMI

Minor counting fix (first version is 0).
  content/standard.md
Owners: @Modelica/MAP-eFMI

Removed AUTOSAR Builder from prototype list (it officially supports eFMI). Thanks @GallLeo.
  content/tools.md
Owners: @Modelica/MAP-eFMI

eFMI® Standard 1.0.0 Beta 1
  CONTRIBUTING.md
  content/_index.html
  content/news/2023-05-10.md
  content/news/2024-05-28.md
  content/news/2024-07-02.md
  content/resources.md
  content/standard.md
  static/media/resources/MAP-eFMI-annual-project-report-2023.pdf
Owners: @christoff-buerger, @Modelica/MAP-eFMI

Added header image for publications subpage.
  content/publications.md
  static/media/publications/reading-is-fun-long-beach-library.license
  static/media/publications/reading-is-fun-long-beach-library.png
Owners: @Modelica/MAP-eFMI

Bump hugo theme
  config.yaml
  content/_index.html
Owners: @christoff-buerger, @t-sommer, @Modelica/MAP-eFMI

Updated existing tooling figure.
  static/media/tools/eFMI-tools.png
  static/media/tools/eFMI-tools.pptx
Owners: @Modelica/MAP-eFMI

Added header image for resources subpage.
  content/resources.md
  static/media/resources/modern-warehouse-with-pallet-rack-storage-system.license
  static/media/resources/modern-warehouse-with-pallet-rack-storage-system.png
Owners: @Modelica/MAP-eFMI

Updated existing tooling figure.
  static/media/tools/eFMI-tools.png
  static/media/tools/eFMI-tools.pptx
Owners: @Modelica/MAP-eFMI

Updated standard and news header figure.
  content/news/_index.md
  content/standard.md
  static/media/news/stock-market-quotes-in-newspaper.license
  static/media/news/stock-market-quotes-in-newspaper.png
  static/media/standard/court-gavel-judges-gavel-courtroom.license
  static/media/standard/court-gavel-judges-gavel-courtroom.png
Owners: @Modelica/MAP-eFMI

Fixed tool icons for dark theme.
  static/media/tools/AUTOSAR-Builder.png
  static/media/tools/Dymola.png
  static/media/tools/Software-Production-Engineering.png
  static/media/tools/TPT.png
  static/media/tools/TargetLink.png
Owners: @Modelica/MAP-eFMI

Updated copyright.
  content/about.md
Owners: @Modelica/MAP-eFMI

Updated logo on about page for dark theme.
  static/media/about/Modelica-Association-logo-403x192-150dpi.png
Owners: @Modelica/MAP-eFMI

Workaround for "bylaws in case of mergers, acquisitions etc" issue.
  content/about.md
Owners: @Modelica/MAP-eFMI

Update CI configuration
  .github/workflows/hugo.yml
Owners: @Modelica/MAP-eFMI-webpage-buildbot, @christoff-buerger, @t-sommer
