Repository modelica/efmi-standard.org, changes with the owners that CODEOWNERS names for each.
All owners: @christoff-buerger, @t-sommer, @Modelica/MAP-eFMI-webpage-buildbot, @Modelica/MAP-eFMI

Add Modelica 2025 banner
  content/_index.html
Owners: @Modelica/MAP-eFMI

Updated supported TargetLink versions.
  content/tools.md
Owners: @Modelica/MAP-eFMI

Updated member organizations (incorporate recent mergers & acquisitions).
  content/about.md
Owners: @Modelica/MAP-eFMI

Added Annual project report 2024.
  content/news/2025-06-04.md
  content/resources.md
  static/media/resources/MAP-eFMI-annual-project-report-2024.pdf
Owners: @Modelica/MAP-eFMI

Fixed news date.
  content/news/2025-06-04.md
Owners: @Modelica/MAP-eFMI

Use build-website workflow in CI
  .github/workflows/gh-pages.yml
  .github/workflows/hugo.yml
Owners: @Modelica/MAP-eFMI-webpage-buildbot, @christoff-buerger, @t-sommer

Update README.md
  README.md
Owners: @christoff-buerger

Updated readme.
  README.md
Owners: @christoff-buerger

Added news article about the eFMI tutorial at the upcoming Modelica conference.
  content/news/2025-07-04.md
  static/media/news/2023-09-11.pptx
  static/media/news/2025-07-04.png
  static/media/news/2025-07-04.pptx
Owners: @Modelica/MAP-eFMI

Added news about new eFMI and eFMI_TestCases library releases (v1.0.2).
  content/news/2025-09-04.md
  static/media/news/2025-09-04-1.png
  static/media/news/2025-09-04-2.png
Owners: @Modelica/MAP-eFMI

Updated member logos.
  static/media/about/MAP-eFMI-members.png
Owners: @Modelica/MAP-eFMI

Remove banner
  content/_index.html
Owners: @Modelica/MAP-eFMI

Added Modelica & FMI Conference 2025 publications.
  content/publications.md
  static/media/publications/Modelica-and-FMI-Conference-2025-paper-slides.pdf
  static/media/publications/Modelica-and-FMI-Conference-2025-paper.pdf
Owners: @Modelica/MAP-eFMI

Added slides and short summary of the eFMI Tutorial 2025.
  content/_index.html
  content/resources.md
  static/media/resources/eFMI-Tutorial-2023-Agenda.pdf
  static/media/resources/eFMI-Tutorial-2023-Part-2.pdf
  static/media/resources/eFMI-Tutorial-2023-Part-4.pdf
  static/media/resources/eFMI-Tutorial-2023-Part-5.pdf
  static/media/resources/eFMI-Tutorial-2025-Agenda.pdf
  static/media/resources/eFMI-Tutorial-2025-Part-1.pdf
  static/media/resources/eFMI-Tutorial-2025-Part-2.pdf
  static/media/resources/eFMI-Tutorial-2025-Part-3.pdf
  static/media/resources/eFMI-Tutorial-2025-Part-4.pdf
  static/media/resources/eFMI-Tutorial-2025-Part-5.pdf
  static/media/resources/eFMI-Tutorial-Agenda.pdf
  static/media/resources/eFMI-Tutorial-Part-2.pdf
  static/media/resources/eFMI-Tutorial-Part-4.pdf
  static/media/resources/eFMI-Tutorial-Part-5.pdf
Owners: @Modelica/MAP-eFMI

Updated trademarks.
  content/about.md
Owners: @Modelica/MAP-eFMI

Improved wording.
  content/resources.md
Owners: @Modelica/MAP-eFMI

Minor cross-page referencing improvements.
  content/introduction.md
  content/publications.md
  content/resources.md
Owners: @Modelica/MAP-eFMI

Linked YouTube videos of eFMI Tutorial 2025.
  content/_index.html
Owners: @Modelica/MAP-eFMI

Added eFMI tutorial 2025 - Part 5.
  content/_index.html
  static/media/resources/eFMI-Tutorial-2025-Part-5.pdf
Owners: @Modelica/MAP-eFMI

Updated eFMI tutorial 2025 news.
  content/news/2025-07-04.md
Owners: @Modelica/MAP-eFMI

Added eFMI Tutorial 2025, BMS demo technical report.
  content/resources.md
  static/media/resources/eFMI-Tutorial-2025-Part-4-BMS-demo.pdf
Owners: @Modelica/MAP-eFMI

Updated eFMI tutorial 2025 news.
  content/news/2025-07-04.md
  static/media/news/2025-07-04-BMS.png
  static/media/news/2025-07-04-FCEV.png
  static/media/news/2025-07-04-NeuralQVM.png
Owners: @Modelica/MAP-eFMI

Link BMS demonstrator technical report from main page.
  content/_index.html
Owners: @Modelica/MAP-eFMI

Updated deputy project leader.
  content/about.md
Owners: @Modelica/MAP-eFMI

News: Daeoh Kang (Ceo of iVH) new deputy project leader.
  content/news/2025-12-02.md
  static/media/news/2025-12-02.png
Owners: @Modelica/MAP-eFMI

News: Daeoh Kang (Ceo of iVH) new deputy project leader.
  content/news/2025-12-02.md
Owners: @Modelica/MAP-eFMI

News: Daeoh Kang (Ceo of iVH) new deputy project leader.
  content/news/2025-12-02.md
Owners: @Modelica/MAP-eFMI

Updated link to BMS demo video.
  static/media/resources/eFMI-Tutorial-2025-Part-4-BMS-demo.pdf
Owners: @Modelica/MAP-eFMI

Updated to final conference paper version (as released in proceedings).
  content/publications.md
  static/media/publications/Modelica-and-FMI-Conference-2025-paper.pdf
Owners: @Modelica/MAP-eFMI

Updated members list.
  content/about.md
Owners: @Modelica/MAP-eFMI

Pushed annual project report and news about it.
  content/news/2026-05-19.md
  content/resources.md
  static/media/resources/MAP-eFMI-annual-project-report-2025.pdf
Owners: @Modelica/MAP-eFMI

Added Modelica & FMI Conference 2025 tutorial to publications list.
  content/_index.html
  content/publications.md
Owners: @Modelica/MAP-eFMI

Pushed annual project report and news about it.
  static/media/resources/MAP-eFMI-annual-project-report-2025.pdf
Owners: @Modelica/MAP-eFMI

Updated project members logo.
  content/about.md
  static/media/about/MAP-eFMI-members.png
Owners: @Modelica/MAP-eFMI

List Rumoca on the eFMI tools page
  content/tools.md
  static/media/tools/Rumoca.png
Owners: @Modelica/MAP-eFMI

Adapted Rumoca tools logo to tools listing format.
  static/media/tools/Rumoca.png
  static/media/tools/readme.txt
Owners: @Modelica/MAP-eFMI

Improved Rumoca description.
  content/tools.md
Owners: @Modelica/MAP-eFMI

eFMI Standard 1.0.0 Beta 2 release.
  content/_index.html
  content/news/2026-10-07.md
  content/resources.md
  static/media/resources/eFMI-Standard-1.0.0-Alpha-4-specification-text-changemarks.pdf
Owners: @Modelica/MAP-eFMI

Fixed old news title.
  content/news/2021-10-04.md
Owners: @Modelica/MAP-eFMI

Fixed old news title.
  content/news/2021-10-04.md
Owners: @Modelica/MAP-eFMI

CODEOWNERS:

*													@christoff-buerger
.gitattributes										@christoff-buerger @t-sommer
.gitignore											@christoff-buerger @t-sommer
.gitmodules											@christoff-buerger @t-sommer
CODEOWNERS											@christoff-buerger
config.yaml											@christoff-buerger @t-sommer
CONTRIBUTING.md										@christoff-buerger
LICENSE												@christoff-buerger
README.md											@christoff-buerger
SECURITY.md											@christoff-buerger
.github/											@Modelica/MAP-eFMI-webpage-buildbot @christoff-buerger @t-sommer
content/											@Modelica/MAP-eFMI
resources/											@Modelica/MAP-eFMI
static/												@Modelica/MAP-eFMI
themes/												@christoff-buerger @t-sommer
public/												@Modelica/MAP-eFMI-webpage-buildbot
