Repository modelica/efmi-standard.org, changes with the owners that CODEOWNERS names for each.
All owners: @christoff-buerger, @Modelica/MAP-eFMI, @Modelica/MAP-eFMI-webpage-buildbot

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @christoff-buerger

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @christoff-buerger

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @christoff-buerger

Added "Specification" page.
  sources/Specification/index.md
  sources/Specification/resources/eFMI-Standard-1.0.0-Supplementary-Alpha-4.zip
  sources/Specification/resources/eFMI-Standard-1.0.0-eFMU-examples-Alpha-4.zip
  sources/Specification/resources/eFMI-Standard-1.0.0-specification-Alpha-4.html
  sources/Specification/resources/eFMI-Standard-1.0.0-specification-Alpha-4.zip
  sources/Specification/resources/eFMI-Standard-1.0.0-specification-change-marks-Alpha-4.pdf
Owners: @Modelica/MAP-eFMI

Finished Specification page.
  documentation/2022-03-29_MAP-structure-draft.pptx
  sources/Specification/candidate-drafts-of-next-release.md
  sources/Specification/current-stable-releases.md
  sources/Specification/index.md
  sources/Specification/old-stable-releases.md
  sources/Specification/release-cycle.md
  sources/Specification/reporting-specification-issues-and-new-feature-proposals.md
Owners: @christoff-buerger, @Modelica/MAP-eFMI

Finished Specification page.
  sources/Specification/candidate-drafts-of-next-release.md
  sources/Specification/current-stable-releases.md
  sources/Specification/index.md
  sources/Specification/old-stable-releases.md
  sources/Specification/release-cycle.md
Owners: @Modelica/MAP-eFMI

Finished Power Point mockup. Started work on Introduction page.
  documentation/2022-03-29_MAP-structure-draft.pptx
  sources/About/index.md
  sources/FAQ/index.md
  sources/Introduction/community.md
  sources/Introduction/index.md
  sources/Introduction/project-organization.md
  sources/News-and-events/index.md
  sources/Resources/index.md
  sources/Specification/candidate-drafts-of-next-release.md
  sources/Specification/current-stable-releases.md
  sources/Specification/index.md
  sources/Specification/old-stable-releases.md
  sources/Specification/release-cycle.md
  sources/Specification/reporting-specification-issues-and-new-feature-proposals.md
  sources/Tools/index.md
Owners: @christoff-buerger, @Modelica/MAP-eFMI

Updated Power Point mockup with results of today's meeting with Ester (MA Backoffice).
  documentation/2022-03-29_MAP-structure-draft.pptx
Owners: @christoff-buerger

Finished Specification page.
  sources/Resources/resources/eFMI-Standard-1.0.0-Alpha-4-eFMU-examples.zip
  sources/Specification/candidate-drafts-of-next-release.md
  sources/Specification/index.md
  sources/Specification/resources/eFMI-Standard-1.0.0-Alpha-4-specification-text-changemarks.pdf
  sources/Specification/resources/eFMI-Standard-1.0.0-Alpha-4-specification-text.html
  sources/Specification/resources/eFMI-Standard-1.0.0-Supplementary-Alpha-4.zip
  sources/Specification/resources/eFMI-Standard-1.0.0-eFMU-examples-Alpha-4.zip
  sources/Specification/resources/eFMI-Standard-1.0.0-specification-Alpha-4.html
  sources/Specification/resources/eFMI-Standard-1.0.0-specification-Alpha-4.zip
  sources/Specification/resources/eFMI-Standard-1.0.0-specification-change-marks-Alpha-4.pdf
Owners: @Modelica/MAP-eFMI

Added "Introduction" structure and "eFMI highlights" subpage.
  documentation/2022-03-29_MAP-structure-draft.pptx
  sources/About/index.md
  sources/FAQ/index.md
  sources/Introduction/community.md
  sources/Introduction/efmi-highlights.md
  sources/Introduction/index.md
  sources/Introduction/project-organization-and-community.md
  sources/Introduction/project-organization.md
  sources/News-and-events/index.md
  sources/Tools/index.md
  sources/eFMI-Standard/candidate-drafts-of-next-release.md
  sources/eFMI-Standard/current-stable-releases.md
  sources/eFMI-Standard/index.md
  sources/eFMI-Standard/old-stable-releases.md
  sources/eFMI-Standard/release-cycle.md
  sources/eFMI-Standard/reporting-specification-issues-and-new-feature-proposals.md
  sources/eFMI-Standard/resources/eFMI-Standard-1.0.0-Alpha-4-specification-text-changemarks.pdf
  sources/eFMI-Standard/resources/eFMI-Standard-1.0.0-Alpha-4-specification-text.html
Owners: @christoff-buerger, @Modelica/MAP-eFMI

Added license.
  LICENSE
  sources/Introduction/efmi-highlights.md
  sources/Introduction/project-organization-and-community.md
Owners: @christoff-buerger, @Modelica/MAP-eFMI

Work on "Introduction: About eFMI".
  documentation/2022-03-29_MAP-structure-draft.pptx
  sources/Introduction/efmi-highlights.md
  sources/Introduction/index.md
  sources/Introduction/resources/eFMI-workflow.png
  sources/Introduction/resources/header-A4.png
  sources/Resources/resources/MAP-eFMI-application.pdf
  sources/Resources/resources/MAP-eFMI-bylaws.pdf
  sources/Resources/resources/Modelica-Association-CLA.pdf
  sources/Resources/resources/eFMI-Standard-1.0.0-Alpha-4-eFMU-examples.zip
  sources/eFMI-Standard/index.md
Owners: @christoff-buerger, @Modelica/MAP-eFMI

Work on "Introduction: About eFMI".
  sources/Introduction/index.md
Owners: @Modelica/MAP-eFMI

Dump stashed.
  sources/Introduction/efmi-highlights.md
  sources/Introduction/index.md
  sources/eFMI-Standard/candidate-drafts-of-next-release.md
  sources/eFMI-Standard/index.md
  sources/eFMI-Standard/release-cycle.md
Owners: @Modelica/MAP-eFMI

Manually copied from HUGO branch (merge would be a pain in the ass, since the original *.md content is deleted in the HUGO branch).
  .gitignore
  .gitmodules
  config.yaml
  content/_index.html
  content/about.md
  content/faq.md
  content/news/2021-02-22-efmi-1.0-alpha-4-available-for-testing.md
  content/news/_index.md
  content/resources.md
  content/tools.html
  static/images/Modelica_Association.svg
  static/images/eFMI.svg
  static/images/eFMI_bare.svg
Owners: @christoff-buerger

Work on pages structure and introduction and about pages.
  config.yaml
  content/_index.html
  content/about.md
  content/faq.md
  content/introduction.md
  content/resources.md
  content/standard.md
  static/images/about/CC-BY-SA-4.0-logo.png
  static/images/about/MAP-eFMI-members.png
  static/images/about/Modelica-Association-logo-403x192-150dpi.png
  static/images/introduction/eFMI-bridge.png
  static/images/introduction/eFMI-workflow.png
Owners: @christoff-buerger

Work on Resources, Standard and About pages.
  config.yaml
  content/_index.html
  content/about.md
  content/introduction.md
  content/resources.md
  content/standard.md
  static/images/introduction/eFMI-workflow.png
  static/media/Modelica-Association-logo.svg
  static/media/about/CC-BY-SA-4.0-logo-403x141-300dpi.png
  static/media/about/MAP-eFMI-members.png
  static/media/about/Modelica-Association-logo-403x192-150dpi.png
  static/media/eFMI-logo-no-text.svg
  static/media/eFMI-logo.svg
  static/media/introduction/eFMI-bridge.png
  static/media/introduction/eFMI-workflow.png
  static/media/standard/eFMI-roadmap.png
Owners: @christoff-buerger

Fixed broken links and added more material on About page.
  content/_index.html
  content/about.md
  content/resources.md
  content/standard.md
Owners: @christoff-buerger

Fixed gitattributes to treat mp4 and pdf as binary data.
  .gitattributes
  content/resources.md
Owners: @christoff-buerger

Added instructions on how to build the website locally.
  CONTRIBUTING.md
  README.md
Owners: @christoff-buerger

Updated .gitignore.
  .gitignore
Owners: @christoff-buerger

Finished main/home page. Only buttons are still broken.
  content/_index.html
Owners: @christoff-buerger

Minor improvement of single-sentence motivation.
  content/_index.html
Owners: @christoff-buerger

Fix typo in tools.md
  content/tools.md
Owners: @christoff-buerger

Removed "Standard" page header image; we do not have the rights to license it under the CC BY-SA 4.0 License.
  content/standard.md
  static/media/standard/eFMI-roadmap.png
Owners: @christoff-buerger

Incorporated feedback from Leo Gall to refer to Modelica in eFMI summary.
  content/_index.html
  content/introduction.md
Owners: @christoff-buerger

Use American English (English U.S.).
  content/_index.html
  content/introduction.md
Owners: @christoff-buerger

Incorporated feedback by Andreas Pfeiffer. Removed projectmen mentioned in news, but kept liaison members.
  content/news/2021-05-19.md
  content/news/2021-06-01.md
  content/news/2021-07-08.md
  content/news/2022-04-05.md
  content/news/2022-08-02.md
Owners: @christoff-buerger

Incorporated feedback of Andreas Pfeiffer.
  content/_index.html
  content/about.md
  content/introduction.md
  content/resources.md
  content/standard.md
  static/media/resources/M04-example-eFMU-for-eFMI-1-0-0-Alpha-4.zip
  static/media/resources/M04-example-eFMU-for-eFMI-1-0-0.zip
Owners: @christoff-buerger

Incorporated feedback of Andreas Pfeiffer.
  content/about.md
  content/resources.md
  content/tools.md
Owners: @christoff-buerger

Fixed news for fixed version of eFMI Test Suite.
  content/news/2021-10-04.md
Owners: @christoff-buerger

Incorporated feedback from Jörg Niere; also added links to mentioned tooling.
  content/about.md
  content/introduction.md
  content/resources.md
  content/standard.md
  static/media/resources/eFMI-Standard-1.0.0-Alpha-4-specification-text.html
Owners: @christoff-buerger

Update theme and use toc shortcode
  config.yaml
  content/_index.html
  content/about.md
  content/introduction.md
  content/resources.md
  content/standard.md
Owners: @christoff-buerger

Added contact footer to every page.
  content/about.md
  content/faq.md
  content/introduction.md
  content/news/_index.md
  content/resources.md
  content/standard.md
  content/tools.md
Owners: @christoff-buerger

Fixed links broken by auto anchor id generation.
  content/about.md
  content/introduction.md
  content/news/2021-07-08.md
  content/news/2021-08-09.md
  content/news/2021-11-03.md
  content/resources.md
  content/standard.md
Owners: @christoff-buerger

Fixed home page buttons.
  config.yaml
  content/_index.html
Owners: @christoff-buerger

Removed FAQ.
  config.yaml
Owners: @christoff-buerger

Added "Project organization and community" of "Introduction" page.
  content/introduction.md
Owners: @christoff-buerger

Added "Proof of the pudding" section.
  content/introduction.md
Owners: @christoff-buerger

Added "Proof of the pudding" section.
  content/introduction.md
Owners: @christoff-buerger

CODEOWNERS:

*													@christoff-buerger
.gitignore											@christoff-buerger
.gitattributes										@christoff-buerger
CODEOWNERS											@christoff-buerger
SECURITY.md											@christoff-buerger
README.md											@christoff-buerger
LICENSE												@christoff-buerger
documentation/										@christoff-buerger
sources/											@Modelica/MAP-eFMI
pages/												@Modelica/MAP-eFMI-webpage-buildbot
